@use '../variables';

.cart-container {
  background-color: variables.$background;
  max-width: 100%;
  min-height: 100vh;

  .cart {
    min-height: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;

    > article {
      position: relative;
      margin-top: 2.5rem;
      padding-bottom: 2rem;


      > div {
        display: flex;
        justify-content: space-between;
        width:  100%;
        padding-bottom: 2rem;
    
        > h4 {
          font-size: 1.5rem;
          } 
        
          >span {
            font-weight: 700;
            font-size: 1.2rem;
          }
        
        }
        
      > a {
        position: absolute;
        right: 0.1rem;
        background-color: variables.$btn;
        border: 1px solid variables.$shadow;
        color: white;
        padding: 0.8rem 1rem;
        border-radius: 10px;
        box-shadow: variables.$shadow 0 1px 0;
        cursor: pointer;

          &:hover {
          background-color: variables.$btn-hover;
          color: variables.$dark;
          }  
  }
      }
      
    }
}

.cartItem {
  background-color: rgb(246, 246, 246);
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid variables.$dark;
  border-radius: 5px;

  > div {
    display: flex;
    align-items: center;

    > h4 {
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 1.8rem;
    }

    > img {
      height: 150px;
      border-radius: 25px;
      margin-left: 2rem;
    }

    > input {
      text-align: center;
      width: 2rem;
      height: 2rem;
      padding: 0.5rem;
      border: none;
      margin: 0.25rem;
      outline: none;
      border-radius: 5px;
      color: variables.$btn-hover;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0%;
      }
    }

    > button {
      cursor: pointer;
      border: none;
      padding: 0.5rem;
      background-color: variables.$btn;
      color: white;
      border-radius: 5px;
    }
  }
}

@media screen and (max-width: 600px) {
  .cart > main > article > a {
    float: none;
    display: block;
    width: 100%;
  }
}
