
footer {
  min-height: 150px;
  background-color: var(--dark);
  padding: 1.5rem;
  color: white;height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  

  > h3 {
    color: white;
    font-family: fantasy;
    font-weight: 400;
    font-size: 2rem;
  }

  p,
  strong {
    margin: 0.5rem;
  }

  aside { 
    height: 100%;
    
  a {
      margin: 0.5rem;
      font-size: 2rem;
      color: white;
      &:hover {
        color: var(--red);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  footer {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
