@use '../variables';

.banner-container {
  height: 100vh;
  width:  100%;
  overflow-x: hidden;
  background-image: url("/src/assets/bg.jpg");
    
  > div {
    padding-left: 6%;
    padding-top: 3.8rem;
    
    > h1 {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 900;
      color: variables.$dark;
      padding-bottom: 0;
      text-align: start;
    }
    
    > h2 {
      font-size: 2.2rem;
      color: variables.$dark;
      // padding-left: 0.8rem;
      }

    > h4 {
      color: white;
    }

    > a {
      display: inline-block; 
      margin-top: 10rem; 
      background-color: variables.$btn;
      border: 1px solid variables.$shadow;
      border-radius: 10px;
      box-shadow: variables.$shadow 0 1px 0;
      padding: 34px 36px;
      color: white;
      font-size: 1rem;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        background-color: variables.$btn-hover;
        box-shadow: variables.$shadow 0 1px 0;
        color: variables.$dark;
      }
    }
  }

  @media (max-width: 768px) {
    height: 80vh; 
    > div {
      padding-left: 4%; 
      text-align: center;

      > h1 {
        font-size: 2.8rem; 
        text-align: center;
      }  

      > h2 {
        font-size: 1.8rem; 
        
      }

      > a {
        margin-top: 5rem; 
        padding: 20px 22px;
      
      }
    }
  }

  @media (max-width: 480px) {
    height: 80vh; 
    > div {
      display: flex;
      justify-content: center; // Centre horizontalement
      align-items: center; // Centre verticalement
      flex-direction: column; 

      > h1 {
        font-size: 2.4rem; 
      
      }

      > h2 {
        font-size: 1.4rem; 
      }

      > a {
        margin-top: 3rem; // Ajustement supplémentaire de la marge
        padding: 15px 18px; // Ajustement supplémentaire du padding
      }
    }
  }
}


