.menu {
  width: 100%;
  min-height: 100vh;
  background-color: var(--pink);

  > h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    color: var(--dark);
  }
}

.menu-container {
  padding: 0.8rem 1.8rem 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--pink);
}


@media(max-width: 567px) {
  .menu-container  {
    flex-direction: column;
  }
}

