* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

html {
  overflow-y: scroll;
  --red:rgb(156, 0, 60);
  --red-dark:rgb(126, 0, 48);
  --dark: rgb(33, 33, 33);
  --dark-light: rgba(33, 33, 33, .711);
  --pink: rgb(255, 239, 239);
  --blue-light: #5971ee;
  --border: rgba(0, 0, 0, .2);
  --background: white;
  --text: black;
}

body {
  font-size: 16px;
}


a {
  text-decoration: none;
}

input, select, button, textarea {
  font: inherit;
}


img {
  max-width: 100%;
}

ul {
  margin: 1rem 0;
  padding-left: 1em;
  list-style-type: disc;
}
